html{


    scroll-behavior: auto !important;
}

.navTransparent{

    position:fixed;
    
    z-index:1;
    
    width:100%;
    
    }
    
    .carouselNav{
    
    position: absolute;
    
    top: 0;
    
    }
